<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>........</title>
    <link rel="stylesheet" href="../static/css/shangchuan.css">
  </head>
  <body>
    <div id="first">
      <form action="">
        <div id="picture">
          <div id="tupian1">
            <p>请上传图片</p>
          </div>
          <div id="tupian2">
            <input type="file" name="picture"  style="width:40%;height:40%;display:inline-block;">
          </div>
        </div>
        <div id="name">
          <div id="caiming1">
            <p>请输入菜名</p>
          </div>
          <div id="caiming2">
            <input type="text" name="name" class="kuang" ">
          </div>
        </div>
        <div id="price">
          <div id="jiage1">
            <p>请输入价格</p>
          </div>
          <div id="jiage2">
            <input type="number" name="price"class="kuang" ">
          </div>
        </div>
        <div id="submit">
          <input type="text" class="tijiao"name="submitbtn" value="submit" ">
        </div>
      </form>
    </div>
  </body>
</html>
