<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <title>zhucaidan</title>
    <link href="css/about.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="Javascript/jquery.js"></script>
    <script type="text/javascript" src="Javascript/jquery_2.js"></script>
    <script type="text/javascript" src="Javascript/jquery.jcarousel.min.js"></script>
    <script type="text/javascript" src="Javascript/jquery.pikachoose.min.js"></script>
    <script type="text/javascript" src="Javascript/jquery.touchwipe.min.js"></script>
    <script type="text/javascript" src="Javascript/jq_scroll.js"></script>
    <link rel="stylesheet" href="zhucaidan.css">
  </head>
  <body>
    <div id="head">
      <img src="head.jpg" height="100%" width="100%">
      <div id="first">
        <button id="return" onclick="fanhui()">return</button>
        <script>
        	 function fanhui(){
        				location="###.html";
        		 }
        </script>
      </div>
      <div id="title1">唯&nbsp美&nbsp食&nbsp与&nbsp爱</div>
      <div id="title2">不<br>可<br>辜<br>负<br></div>
    </div>
    <div id="chef">
      <div id="chef1">
        <div class="cook">
          <a href="chef_details.html"><img src="m.jpg" style="width:100%; height:100%; border-radius:50%; "></a>
        </div>
        <div class="detail">
          <p>
            鲤鱼的蛋白质不但含量高，而且质量也佳，人体消化吸收率可达96%，并能供给人体必需的氨基酸、矿
            物质、维生素A和维生素D.鲤鱼的钾含量较高，可防治低钾血症，增加肌肉强度.
          </p>
        </div>
        <div  class="command">
          <img src="1.jpg" style="width:100%; height:100%; border-radius:50%; ">
        </div>
      </div>
      <div id="chef2">
        <div class="command1">
          <img src="2.jpg" style="width:100%; height:100%; border-radius:50%; ">
        </div>
        <div class="detail1">
          <p>
            牛肉中所含的人体是最多最高最丰富的元素。其中包括：蛋白质、血质铁、维生素、锌、磷及多种胺基酸。牛
            肉食物中所含有人体所须这8种必需的胺基酸，而且是100％吸收，任何动、植物的营养没法与牛肉相比.
          </p>
        </div>
        <div class="cook1">
          <a href="chef_details.html"><img src="n.png" style="width:100%; height:100%; border-radius:50%; "></a>
        </div>
      </div>
    </div>

      <div id="paihang">
        <div class="news_del">
        	<div class="main">
            </div>
             <div class="rec">
            	<h3 class="biaoti">美食推荐</h3>
                <div id="scrollDiv" style="height:510px;overflow:hidden;">
                	<div class="bd">
                		<ul class="dd">
                			<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_9.png"></div></a>
                    			<div class="conl">
                       				<a href="food_details.html">凉拌三丝</a>
                        			<span>2016-8-24</span>
                        			<div class="small">提示户外拓展训练时需要注意的安全问题。贵阳户外拓展训练应急保证实行训练</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
                			<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_10.png"></div></a>
                    			<div class="conl">
                        			<a href="food_details.html">炭烤排骨</a>
                        			<span>2016-8-24</span>
                        			<div class="small">贵阳附近好玩的地方，真人CS运动中最基本的对射击技巧进行简单</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
                			<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_11.png"></div></a>
                    			<div class="conl">
                        			<a href="food_details.html">混拌猪头</a>
                        			<span>2016-8-24</span>
                        			<div class="small">自然条件较差，或日晒雨淋，或风沙满天，很容易使旅游者佩带的贵重首饰</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
                			<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_12.png"></div></a>
                    			<div class="conl">
                        			<a href="food_details.html">酸汤鱼锅</a>
                        			<span>2016-8-24</span>
                        			<div class="small">休闲农庄餐饮怎样做才更能突出农庄特色，贵阳山庄告诉你休闲农庄里的餐饮与城市餐厅</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
                			<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_13.png"></div></a>
                    			<div class="conl">
                        			<a href="food_details.html">爆炒肥肠</a>
                        			<span>2016-8-24</span>
                        			<div class="small">提示户外拓展训练时需要注意的安全问题。贵阳户外拓展训练应急保证实行训练</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
               				<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_11.png"></div></a>
                    			<div class="conl">
                        			<a href="food_details.html">混拌猪头</a>
                        			<span>2016-8-24</span>
                        			<div class="small">自然条件较差，或日晒雨淋，或风沙满天，很容易使旅游者佩带的贵重首饰</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
                 			<li class="recommend">
               					<a href="food_details.html"><div class="xx"><img src="images/f_13.png"></div></a>
                    			<div class="conl">
                        			<a href="food_details.html">爆炒肥肠</a>
                        			<span>2016-8-24</span>
                        			<div class="small">提示户外拓展训练时需要注意的安全问题。贵阳户外拓展训练应急保证实行训练</div>
                    			</div>
                    			<div class="clearfix"></div>
                			</li>
                		</ul>
                 	</div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

      </div>

  </div>
  <div id="meau">
    <div class="classify"><a href=""></a></div>
    <div class="classify"><a href=""></a></div>
    <div class="classify"><a href="">火锅</a></div>
    <div class="classify"><a href="">烧烤</a></div>
    <div class="classify"><a href="">鲜汤</a></div>
    <div class="classify"><a href="">小炒</a></div>
    <div class="classify"><a href="">西餐</a></div>
    <div class="classify"><a href="">甜点</a></div>
    <div class="classify"><a href="">酒水</a></div>
    <div class="classify"><a href=""></a></div>
    <div class="classify"><a href=""></a></div>
  </div>
  <div id="meal">
    <div class="oblong">
        <a href="food_details.html">
          <div class="box">
              <img src="3.jpg"  style="width:100%; height:100%; border-radius:50%; overflow:hidden;">
          </div>
          <div class="introduce">
            <p>糖醋鲤鱼 ￥99.0</p>
          </div>
        </a>
        <div class="square">
          <label for="num" class="num">数量:</label>
          <input type="text" name="num" min="0">
        </div>
    </div>


  </div>
  <div id="pay">
    <form class="" action="index.html" method="post">
      <img src="pikaqiu.png" alt="" width="100px" height="100px" overflow:hidden style="margin:0px 0 0 0 ">
      <input type="submit" value="提交订单" name="submitbtn" id="zhuce" onclick="check()" style="width:100px;height:100px;display:inline-block;opacity:0;margin:-100px 0 0 0 " />
      <div id="wen"><p><strong>&nbsp点我去付帐啦</strong></p></div>
  </form>
  </div>
    <script type="text/javascript">
    	$(document).ready(function (){
            $("#pikame").PikaChoose({carousel:true, carouselVertical:true});
    	});

    		$('.small').each(function(){
     //设置显示获取字符串的字数  这个根绝要求 看需要大概显示几行
        var maxwidth=25;
        if($(this).text().length > maxwidth){
             //截取字符串
            $(this).text($(this).text().substring(0,maxwidth));
            //多余的用省略号显示
            $(this).html($(this).html()+'...');
        	}
    	});

    	$(".in_menu_1").hide();
    	$(".in_menu li").mouseenter(
    		function(){
    			$(this).children(".in_menu_1").show();
    		}
    	)
    	$(".in_menu li").mouseleave(
    		function(){
    			$(this).children(".in_menu_1").hide();
    		}
    	)

    	$(document).ready(function(){
            $("#scrollDiv").Scroll({line:1,speed:500,timer:3000,up:"but_up",down:"but_down"});
    });
    </script>
  </body>
</html>
