<!DOCTYPE HTML>
<html>
<head>
<title>Event</title>
<link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
<link href="../static/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/meau.css">
<link rel="Stylesheet" type="text/css" href="css/zhucaidan.css" />
<link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Fastfood Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http:///fonts.useso.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
<link href='http:///fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,800' rel='stylesheet' type='text/css'><link href='http:///fonts.useso.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
<script src="../static/js/jquery-1.8.3.min.js"></script>
<script src="../static/js/scripts.js" type="text/javascript"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="../static/js/move-top.js"></script>
<script type="text/javascript" src="../static/js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
<!------ Light Box ------>
    <link rel="stylesheet" href="../static/css/swipebox.css">
    <script src="../static/js/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
	</script>
    <!------ Eng Light Box ------>	
    <script src="../static/js/responsiveslides.min.js"></script>
    <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <link rel="stylesheet" type="text/css" href="../static/css/style4.css" />
<script type="text/javascript">
		// Don't use this code on your site
  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-7243260-2']);
 		_gaq.push(['_trackPageview']);

  		(function() {
    			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();
	</script>
	<!--Animation-->
<script src="../static/js/wow.min.js"></script>
<link href="../static/css/animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
<!---/End-Animation---->

	</head>
<body>
	<div class="header-banner head-top" id="head">
		  <div class="slider">
	    <div class="callbacks_container">
	      <ul class="rslides" id="slider">
	        <li>
	          <img src="../static/image/L2.jpg" alt="">
	          <div class="caption wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
	          	<div class="logo">
{#	          		<a href="index.html">delicious food</a>#}
	          		<a href="/caidan/">delicious food</a>
	          		</div>
	          	<h3>zhihuicanting</h3>
	          </div>
	        </li>
	        <li>
	          <img src="../static/image/1.jpg" alt="">
	        	 <div class="caption wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
	        	 	<div class="logo">
	          		<a href="index.html">delicious food</a>
	          		</div>
	        	 <h3>zhihuicanting</h3>
	          	</p>
	        </li>
	        <li>
	          <img src="../static/image/3.jpg" alt="">
	          <div class="caption wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
	          	<div class="logo">
	          		<a href="index.html-">delicious food</a>
	          		</div>
	          	<h3>zhihuicanting</h3>
	          	</div>
	        </li>
	        <li>
	          <img src="../static/image/4.jpg" alt="">
	          <div class="caption">
	          	<div class="logo">
	          		<a href="index.html-">delicious food</a>
	          		</div>
	          	<h3>zhihuicanting</h3>
	          	</div>
	        </li>
	      </ul>
	  </div>
  </div>
	<div class="header-bottom">
			<div class="fixed-header">
			<div class="container">
				<div class="top-menu">
					<span class="menu"><img src="../static/image/nav.png" alt=""/> </span>
					<ul>
						<nav class="cl-effect-5">

					 <li><a href="#">完美展示&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
					 <li><a href="/caidan/">主菜单&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
					 <li><a href="#story">特色和故事&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</li>
					 <li><a  href="#company">餐厅位置&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
					 <li><a  href="#about">关于我们&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a></li>
					 </nav>
				 </ul>
				 <!-- script for menu -->
					<!--script-nav-->
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>

					<!-- //script for menu -->

						<!-- script-for sticky-nav -->
						<script>
		$(document).ready(function() {
			 var navoffeset=$(".header-bottom").offset().top;
			 $(window).scroll(function(){
				var scrollpos=$(window).scrollTop(); 
				if(scrollpos >=navoffeset){
					$(".header-bottom").addClass("fixed");
				}else{
					$(".header-bottom").removeClass("fixed");
				}
			 });
			 
		});
		</script>
					<!-- //script-for sticky-nav -->		
			 </div>

				</div>
			</div>
		</div>
		<a href="" name="story"><div class="content">
	<div class="event-section1">
					<div class="container">
						<a href="" name="stroy"><h3>upcomeing events</h3></a>
						<div class="event-grids">
							<div class="col-md-6 eventleft-grid even  wow bounceInRight animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
								<div class="event-grid1">
								<img src="../static/image/img5.jpg" class="img-responsive wal" alt="" />
								<div class="event-inform">
								<div class="event-info2">
									<h4>October</h4>
									<h5>01</h5>
									</div>
									<div class="event-info3">
										<p>特色菜：是指是有着与其他菜品物质不同的地方，能区别于其他菜品，有着特别的味道 自身特点 独特地区风味，是其他菜品所没有的。在我们日常生活中</p>
										</div>
								<div class="clearfix"></div>
										</div>
								</div>
								<div class="event-grid2">
								<img src="../static/image/img6.jpg" class="img-responsive" alt="" />
								<div class="event-inform">
								<div class="event-info2">
									<h4>January</h4>
									<h5>03</h5>
									</div>
									<div class="event-info3">
										<p>特色菜：是指是有着与其他菜品物质不同的地方，能区别于其他菜品，有着特别的味道 自身特点 独特地区风味，是其他菜品所没有的。在我们日常生活中</p>
										</div>
								<div class="clearfix"></div>
										</div>
								</div>
								 </div>
								<div class="col-md-6 eventright-grid  wow bounceInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
								<div class="event-grid1">
								<img src="../static/image/img8.jpg" class="img-responsive" alt="" />
								<div class="event-inform">
								<div class="event-info2">
									<h4>October</h4>
									<h5>02</h5>
									</div>
									<div class="event-info3">
										<p>特色菜：是指是有着与其他菜品物质不同的地方，能区别于其他菜品，有着特别的味道 自身特点 独特地区风味，是其他菜品所没有的。在我们日常生活中</p>
										</div>
								<div class="clearfix"></div>
										</div>
								</div>
								<div class="event-grid2">
								<img src="../static/image/img9.jpg" class="img-responsive" alt="" />
								<div class="event-inform">
								<div class="event-info2">
									<h4>august</h4>
									<h5>04</h5>
									</div>
									<div class="event-info3">
										<p>>特色菜：是指是有着与其他菜品物质不同的地方，能区别于其他菜品，有着特别的味道 自身特点 独特地区风味，是其他菜品所没有的。在我们日常生活中</p>
										</div>
								<div class="clearfix"></div>
										</div>
								</div
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
					
			</div></a>
			<!-- <div id="d" style="background-color:#E6E6FA"> -->
			<div id="company">
		<div id="firm1">
			<img src="../static/image/cc.jpg" alt="" width="90%" height="45%">
			<img src="../static/image/bb.jpg" alt="" width="90%" height="45%">
		</div>
		<div id="detail">
			<p>特色餐厅是指具有鲜明主题，围绕一定时期、地域的人物、文化艺术、风土人情、宗教信仰、神话传说等设计菜单、服务方式和程序，营造就餐氛围，满足客人对餐饮的多元化需求，并力图在社会公众中树立独特形象的餐厅。特色餐厅又
               称“风味餐厅”，是餐饮文化发展、传播到一定阶段的产物，具有鲜明的地理、历史、文化、宗教等人文特色，是菜肴制作水平和企业经营方针的代表，体现了管理人员的经营理念和对市场的敏锐感觉。</p>
            <p>特色餐厅主题鲜明、广泛，可涉及不同时期、不同国家、不同地区的历史人物、文化艺术、风土人情、宗教信仰、生活方式等。另外，一把骨特色餐厅的环境和气氛是吸引顾客前来消费的重要因素之一。例如，充满巴伐利亚风格的啤酒坊 
               等人文特色，是菜肴制作水平和企业经营方针的代表，体现了管理人员的经营理念和对市场的敏锐感觉。</p>  
            <p>特色餐厅主题鲜明、广泛，可涉及不同时期、不同国家、不同地区的历史人物、文化艺术、风土人情、宗教信仰、生活方式等。
               另外，一把骨特色餐厅的环境和气氛是吸引顾客前来消费的重要因素之一。</p>
            </p>
		</div>
		<div id="firm2">
			<img src="../static/image/cc.jpg" alt="" width="90%" height="45%">
			<img src="../static/image/bb.jpg" alt="" width="90%" height="45%">
		</div>
	</div>
			<a href="#" name="about">
 	<div class="footer agileits-w3layouts" style="position: absolute;top:365%;width: 100%;background-color:#D3D3D3;height:200px">
		<div class="container" style="margin-top:35px;left:17%;position: absolute">
			<div class="w3_footer_grids">
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3><i><b>company</b></i></h3>
					<ul>
						<li><a href="">About Us</a></li>
						<li><a href="">Contact Us</a></li>  
						<li><a href="">Careers</a></li>  
						<li><a href="">Partner With Us</a></li>   
					</ul>
				</div> 
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3><i><b>help</b></i></h3>
					<ul>
						<li><a href="">FAQ</a></li> 
						<li><a href="">Returns</a></li>   
						<li><a href="">Order Status</a></li> 
						<li><a href="">Offers</a></li> 
					</ul>  
				</div>
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3><i><b>policy info</i></b></h3>
					<ul>  
						<li><a href="">Terms & Conditions</a></li>  
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Return Policy</a></li> 
					</ul>      
				</div>
				<div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
					<h3><i><b>Menu</b></i></h3> 
					<ul>
						<li><a href="">All Day Menu</a></li> 
						<li><a href="">Lunch</a></li>
						<li><a href="">Dinner</a></li>
						<li><a href="">Flavours</a></li> 
					</ul>  
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div> 
	</div>
</body>
</html>